<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Progressive Web Application</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!-- Ikonice za mobilne telefone kad se doda na desktop -->
  <!-- iOS ikona -->
  <link rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/icons/favicon-16x16.png">
  <link rel="manifest" href="manifest.json" />
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" type="text/css" href="styles/inline.css">
</head>
<body>

 <!--
    Unutar ovog DIV-a se nalazi glavni dio programa on se sastoji od tri dijela:
     - naslov (gametitle)
     - polja za igranje (gametable)
     - broja pobjeda (gamescores)
    -->
  <div id="app">
    <gametitle></gametitle>
    <!--
      Komponenti gametable trebamo poslati imena i bodove oba igrača  (definirano u polju "props")
      Kada jedan od igrača pobjedi onda se poziva this.$emit("increasescore", <pobjednik> ), sa
      v-on se "hvala" poziv funkcije "emit" i on se preusmjerava u funkciju "increaseWinnerScore"
      koja tada povećava broj bodova pobjednika.

      VueJS ograničava da "dijete" ne može mijenjati vrijednosti varijabli "roditelja", ali mu može
      "dojaviti" da je nešto potrebo napraviti (npr. povećaj broj bodova)
    -->
    <gametable
              :player1name="this.player1name"
              :player2name="this.player2name"
              @increasescore="increaseWinnerScore"
    ></gametable>

    <!-- Komponenti gamescores trebamo poslati imena i trenutne bodove (definirano u polju "props") -->
    <gamescores
            :player1name="this.player1name"
            :player2name="this.player2name"
            :player1score="this.player1score"
            :player2score="this.player2score"
            @updateplayername="updatePlayerName"
            @resetscore="resetScore"
    ></gamescores>
  </div>

  <!-- Ovako izgleda naslovni dio (gametitle) - ima samo naslov igre i ništa drugo -->
  <template id="gametitle-template">
    <h1>Križić - kružić</h1>
  </template>

  <!--
    Ovako izgleda glavno pollje igre - template smije na "prvoj razini" (prvo dijete)
    imati samo jedan element. Zbog toga se svi elementi nalaze unutar jednog <div> elementa.
    To je "ograničenje" koje definira VueJS. Umjesto <div> mogao je biti <span>
   -->
  <template id="gametable-template">
    <div>
      <!--
        Ako je varijabla "winner" različita od "" (praznog stringa) onda će se ispisati ovaj div,
        a u njemu će pisati tko je pobijedio (ime pobjednika piše u varijabli "winner"
      -->
      <div
              class="winnerStyle"
              v-if="winner !== ''"
      >
        <span v-if="winner !== 'none'">
          Pobjednik je igrač: {{ winner }}
        </span>
        <span v-else>
          Nema pobjednika ovaj puta.
        </span>

        <div class="newGame">
          <button @click="newGame">Nova igra</button>
        </div>
      </div>

      <!--
        Ispisuje tko je na redu za igranje (ovisno o vrijednosti varijable player (true - prvi igrač ili
        false - drugi igrač), ispisat će se vrijednost varijable player1 ili player2
        Ako imamo povjednika onda nemojmo ispisati koji je igrač na redu
      -->
      <div
              class="playerStyle"
              v-if="winner === ''"
      >
        Igrač na redu: {{ player?player1:player2 }}
      </div>

      <!--
        Polje se ispisuje sa for petljom koja ide po svim redovima u varijabli table
      -->
      <div
              v-for="(row, rowindex) in table"
              :key="`row-${rowindex}`"
              class="mainRowStyle"
              :class="{ winnerMainTable: winner }"
      >
        <!-- Ispišimo sada stupac u svakom retku -->
        <span
                v-for="(cell, cellindex) in row"
                :key="`cell-${rowindex}-${cellindex}`"
                class="rowStyle"
        >
          <!--
            Ispišimo jednu ćeliju sa stilom "cellStyle" (da ju možemo lijepo formatirati,
            kad ju odaberemo (klikemo na nju) pozove se funkcija selectCell s parametrima
            redak i stupac u koji smo kliknuli
          -->
          <span
                  class="cellStyle"
                  @click="selectCell(rowindex, cellindex)"
          >
            <!--
              Vrijednost koja će se ispisati, ako je vrijednost polja različita od praznog stringa ispiši
              tu vrijednost
            -->
            <span style="display: inline-block; width: 2em;" v-if="cell != ''">{{ cell }}&nbsp;</span>
            <!-- Inače ispiši prazno polje -->
            <span style="display: inline-block; width: 2em;" v-else="cell != ''">&nbsp;</span>
        </span>
      </div>
    </div>
  </template>

  <!-- Prikaži popis igrača i njihovih bodova -->
  <template id="gamescores-template">
    <!-- I ovdje se mora staviti samo jedan div unutar kojeg su svi drugi elementi -->
    <div>
      <!-- Tekst: "najbolji igrači" -->
      <div class="gameScoreStyle">Rezultati igre</div>

      <!-- Imamo samo dva igrača, pa ih možemo ispisati i bez for petlje -->
      <!-- 1. igrač i njegovi bodovi -->
      <div>
        <!-- Broj bodova, stiliziran sa scoreStyle -->
        <span class="scoreStyle">{{player1score}} bodova</span>
        <!-- Ime igrača  - ako se klikne omogući upisivanje novog imena -->
        <span class="nameStyle" @click="$emit('updateplayername', 'player1')">{{player1name}}</span>
      </div>

      <!-- 2. igrač i njegovi bodovi -->
      <div>
        <!-- Broj bodova, stiliziran sa scoreStyle -->
        <span class="scoreStyle">{{player2score}} bodova</span>
        <!-- Ime igrača - ako se klikne omogući upisivanje novog imena -->
        <span class="nameStyle" @click="$emit('updateplayername', 'player2')">{{player2name}}</span>
      </div>

      <div class="resetScore" v-if="player1score != 0 || player2score != 0">
        <a @click="$emit('resetscore')">Resetiraj bodove</a>
      </div>
    </div>
  </template>


<!-- Debug verzija VueJS - Ispisat će greške koje se pojavljuju -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--
  Release verzija VueJS, zakomentirana namjerno jer neće ispisati greške, a razliku u brzini na ovako
  jednostavnoj aplikaciji teško da ćete primjetiti :)
-->
<!--  <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="scripts/app.js" async></script>

</body>
</html>
