/*
 *
 *  Stilovi za aplikaciju
 *
 */


* {
  box-sizing: border-box;
}

/*
Defaultni font, debljina, i boja
 */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-weight: 400;
  color: #444;
}

/*
Kako izgledaju rezultati
 */
.gameScoreStyle{
  color: #444444;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 1em;
}

.gameScoreRowStyle{
  color: #555555;
  margin-left: 2em;
}

.scoreStyle{
  width: 8em;
  color: #111111;
  text-align: right;
  border-bottom: 1px dotted #c0c0c0;
  display: inline-block;
}

/*
Boja za imena
 */
.nameStyle{
  color: #222222;
}

/*
Kako izgleda jedan redak
 */
.rowStyle{
  padding: 2em 0;
}

/*
 Kako izgleda jedno polja
 padding -> razmak od rubova
 ispiši centrirano horizontalno i vertikalno (display, text-align, vertical-align)
 kursor je u obliku prsta
 */
.cellStyle{
  padding: 2em;
  display: inline-block;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
}

/*
Boja polja kad se mišem prelazi preko polja
 */
.cellStyle:hover{
  background-color: rgba(255, 255, 0, 0.5);
}

/*
 Boja polja parnih redova i u njima parnih stupaca (2,2) (x - redak, y - stupac)
 Boja polja neparnih redova i u njima neparnih stupaca (1,1; 1,3; 3,1; 3,3)
 */
.mainRowStyle:nth-child(even)  .rowStyle:nth-child(even),
.mainRowStyle:nth-child(odd) .rowStyle:nth-child(odd)
{
  background-color: rgba(127, 255, 212, 0.5);
}

/*
 Boja polja parih redova i u njima neparnih stupaca (2,1; 2,3)
 Boja polja neparnih redova i u njima parnih stupaca (1,2; 3,2)
 */
.mainRowStyle:nth-child(even) .rowStyle:nth-child(odd),
.mainRowStyle:nth-child(odd) .rowStyle:nth-child(even)
{
  background-color: rgba(0, 191, 255, 0.51);
}


/*
 Ispiši tko je pobjednik malo većim fontom (1.5em -> 150% standardne veličine), boldano
 */
.winnerStyle{
  font-size: 1.5em;
  font-weight: bold;
}

/*
 Kad imamo pobjednika glavnu tablicu označi poluprozirno (0.5 => 50%)
 */
.winnerMainTable{
  opacity: 0.5;
}

/*
  Kako izgleda polje za "nova igra" - malo ga odmaknimo od teksta iznad
 */
.newGame{
  padding-top: 1em;
}

/*
  Kako izgleda gumb "nova igra" (zeleni s bijelim rubom i razmakom teksta od ruba)
 */
.newGame button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  color:#444444;
  background-color: #7ffffd;
  text-align:center;
  transition: all 0.2s;
  font-size: 1.1em;
}

/*
  Kako izgleda gumb "nova igra" kad je miš preko njega (crni rub, kursor je oblika prsta)
 */
.newGame button:hover{
  border:0.1em solid #000000;
  color:#000000;
  cursor: pointer;
}

/*
  Kako izgleda naziv igrača
 */
.playerStyle{
  font-weight: bold;
}

/*
  Kako izgleda resetiranje bodova
 */
.resetScore{
  margin-top: 1em;
  color: #999;
  cursor: pointer;
}